{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
{% endblock stylesheet %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-4">
            <a href="{% url 'home' %}">
                <button type="button" class="btn btn-success">
                    <i class="bi bi-house-fill"></i> HomePage
                </button>            
            </a>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card">
                    <div class="card-body">
                        {% if validlink %}
                            <h3 class="card-title">Enter new password</h3>
                            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {% include 'accounts/form.html' %}
                                <button type="submit" class="btn btn-success btn-block mt-4 form-control">Change password</button>
                            </form>
                        {% else %}
                            <h3 class="card-title">Reset your password</h3>
                            <div class="alert alert-danger" role="alert">
                                It looks like you clicked on an invalid password reset link. Please try again.
                            </div>
                            <a href="{% url 'password_reset' %}" class="btn btn-secondary form-control">Request a new password reset link</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
